<ion-header>
  <ion-toolbar>
    <ion-title>
      Liste de Course
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Produit</ion-label>
    <ion-input [(ngModel)]="productName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{quantity}}</ion-label>
    <ion-range min="1" 
               max="10" 
               step="1"
               [(ngModel)]="quantity"></ion-range>
  </ion-item>
  <ion-button fill="outline" 
              color="tertiary" 
              size="block"
              (click)="addProduct()"
              [disabled]="productName == null || productName == ''"
              >
              <!-- *ngIf="productName != null && productName != ''" -->
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let p of productsList"
              (click)="displayActions(p)"
              >
              <!-- [ngClass]="{'checked': p.checked}" -->
      <span slot="start">{{p.quantity}}</span>
      <span>{{p.name}}</span>
      <span slot="end">
        <ion-icon name="checkmark-circle" 
                  color="success"
                  *ngIf="p.checked"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
