<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Hello {{ maVariable }}</p>
    <ion-item>
      <ion-label position="floating">data</ion-label>
      <ion-input [(ngModel)]="maVariable"></ion-input>
    </ion-item>
    <ion-button (click)="changerLaVariable()">Click Me</ion-button>
</ion-content>
