<ion-header>
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="scan()">SCAN</ion-button>
  <p>{{name}}</p>
  <img src="{{img_url}}">
</ion-content>
